dataset/
dataset_processed/
venv/

application/backend/__pycache__/
application/backend/temp/
application/backend/venv/
application/backend/flask_session/
application/backend/deploy
application/backend/backend-deploy.zip
application/backend/.env

application/frontend/node_modules/

interim_report.md
ieeeDraft.md
results_section_draft.md
keys.txt

requirements.txt

